#main-body{
    padding-top: 60px;
    min-height: 100%;
    height: auto;
    height: 100%;
    margin: 0 auto -4em;
}

label{
    text-align: right;
}

html, body {
  height: 100%;
}

body { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-style: normal;
    background-color: white;
    color: black
}

h1 { font-weight: bold; color: #003399; }

p { margin-left: 0em; }

table { font-family: Verdana, Arial, Helvetica, sans-serif; }
caption { font-weight: bold; }
th { font-weight: bold; background-color: blue; color: white; padding: 2px; }
td { padding: 2px; }
/* tr { background-color: white; } */

table.bordered    { border: solid; border-width: thin; }
table.bordered td { border: solid; border-width: thin; }
table.bordered th { border: solid; border-width: thin; border-color: black; }

address { margin-left: 0in; font-style: italic; }       

a:link { text-decoration: none; }
a:visited { text-decoration: color: red; }
a:active { text-decoration: color: blue; }
a:hover { text-decoration: underline; }

.alert { font-weight: bold; font-style: italic; color: red; }


