{extends file='layout.tpl'}

{block name=body}
  Name: Nicholas John Maric </br>
  Student Number: S2893580</br>
  Application: Job Search</br>
  </br>
  Database schema:</br>
  create table ld_items (</br>
    id integer not null primary key,</br>
    summary varchar(80) not null,</br>
    details text default '',</br>
    industry text default '',</br>
    area text default '',</br>
    salary text default ''</br>
);</br>
</br>
insert into ld_items values (null, "Space man",  "spaceman needed", "space", "space", "10-12");</br>
insert into ld_items values (null, "Space man",  "spaceman needed", "space", "space", "10-12");</br>
insert into ld_items values (null, "Space man",  "spaceman needed", "space", "space", "10-12");</br>
insert into ld_items values (null, "Space man",  "spaceman needed", "space", "space", "10-12");</br>
</br>
Parts not implemented: only the unique id for employers was not implemnted all others where and function as they should
{/block}